{% extends '::base.html.twig' %}
{% block body %}
    <p><a href="{{ path('upperCase') }}">UpperCase</a></p>
    <p><a href="{{ path('minuscula') }}">LowerCase</a></p>
    <p><a href="{{ path('longitud') }}">Length</a></p>
    <p><a href="{{ path('concatena') }}">Concatena</a></p>
    <p><a href="{{ path('caracterUbicacion') }}">CharAt</a> </p>
{% endblock %}